<div class="dialog-content-wrapper">
  <mat-toolbar class="toolBg m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Change password</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon svgIcon="closeIcon"></mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form name="forgoPasswordForm" [formGroup]="OTPPasswordForm" novalidate fxLayout="column" fxFlex>
      
        
          <mat-form-field>
            <input matInput placeholder="OTP" formControlName="otp" required>
            <mat-error *ngIf="OTPPasswordForm.get('otp').hasError('required')">
              UserName is required
            </mat-error>
            <mat-error *ngIf="OTPPasswordForm.get('otp').hasError('required')">
              Please enter a valid UserName
            </mat-error>
          </mat-form-field>
        
        
          
            
          
          
            <mat-form-field >
              <input matInput placeholder="New password" type="password" formControlName="newpassword" required>
              <mat-error *ngIf="OTPPasswordForm.get('newpassword').hasError('required')">
                New password is required
              </mat-error>
              
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Confirm password" type="password" formControlName="confirmpassword" required>
              <mat-error *ngIf="OTPPasswordForm.get('confirmpassword').hasError('required')">
                Confirm password is required
              </mat-error>
              <mat-error *ngIf="OTPPasswordForm.get('confirmpassword').value == OTPPasswordForm.get('newpassword').value ">
               password doesnt match
              </mat-error>
            </mat-form-field>
          
      <!-- <mat-form-field>
        <input matInput placeholder="User name" formControlName="UserName" required>
        <mat-error *ngIf="forgotPasswordForm.get('UserName').hasError('required')">
          User name is required
        </mat-error>
      </mat-form-field> -->

      <!-- <button mat-raised-button class="submit-button" aria-label="RESET MY PASSWORD" (click)="ChangePasswordClick()">
              CHANGE MY PASSWORD
          </button> -->
    </form>

  </div>

  <mat-dialog-actions class="m-0 p-16" fxLayoutAlign="space-between center">
    <button mat-button type="button" (click)="CloseClicked()">Cancel</button>
    <button mat-button type="button" class="btnBg" (click)="YesClicked()">Change Password</button>
  </mat-dialog-actions>
</div>