<div id="home" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="center">
    <div fxLayout="column" fxLayoutGap="15px" style="padding: 45px 10px 10px 0;">

      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="80" fxLayoutAlign="center center">
          <span class="h1 txt">Welcome to <span class="h1 txt txtblue">Amararaja</span> EPOD</span>
          <p class="txtCenter">Where innovation meets reliability in battery manufacturing. Our Proof of Delivery
            ensures secure and
            on-time battery orders with real-time tracking. Trust in our technology for seamless delivery. Powering your
            world, one proof at a time.</p>
        </div>
      </div>

      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex="80" fxLayoutGap="100px" fxLayoutAlign="space-between center" style="height: 50vh;">
          <div fxFlex="50" fxLayout="column" class="imgContainer" (click)="navigate('1')">
            <div class="inside-container">
              <img src="assets/images/dashboard/ForwardAB.svg" alt="Forward Logistics">
            </div>
            <div class="txtCenter txt">Forward Logistics</div>
          </div>
          <div fxFlex="50" fxLayout="column" class="imgContainer" (click)="navigate('2')">
            <div class="inside-container">
              <img src="assets/images/dashboard/ReverseAB.svg" alt="Reverse Logistics">
            </div>
            <div class="txtCenter txt">Reverse Logistics</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>