<div id="invoiceItem" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="10px">
    <mat-card class="cardHeader p-8 pb-0 m-0">
      <div fxLayout>
        <div fxFlex fxLayoutAlign="start" class="h2">
          <b>Reverse Logistics Item Details</b>
        </div>
        <div fxFlex fxLayoutAlign="end">
          <!-- Confirm btn -->
          <button *ngIf="
                          !selectedReverseLogisticDetail?.STATUS.toLowerCase().includes('confirmed')" mat-raised-button
            class="mr-4 confirmBtn" (click)="confirmReversePOD()">
            Confirm
          </button>

          <!-- amararaja user confirm qty btn -->
          <button *ngIf="
                          (currentUserRole | lowercase) === 'amararaja user' &&
                          (selectedReverseLogisticDetail?.STATUS | lowercase) === 'partially confirmed'"
            mat-raised-button class="mr-4 confirmBtn">
            Confirm Qty
          </button>

          <input hidden onclick="this.value=null" type="file" accept="application/pdf,image/jpg,image/jpeg,.png,image/*"
            #reversePodFileInput id="reversePodFile" (change)="handleFileInput($event)" />
        </div>
      </div>
    </mat-card>
    <div class="sidenav-content">
      <form autocomplete="off" name="form" [formGroup]="reverseLogisticsItemFormGroup" fxLayout="column"
        fxLayoutAlign="start" fxFlex="1 0 auto" novalidate class="abnormal" id="abnormal">
        <!-- <div class="m-0 p-0 mr-8"> -->
        <div fxFlex fxLayout="row" class="borderTop mt-4">
          <table class="customtable">
            <thead>
              <tr>
                <th>DC No</th>
                <th>DC Date</th>
                <th>Claim Type</th>
                <th>Customer Name</th>
                <th>Plant Name</th>
                <th>LR No</th>
                <th>LR Date</th>
                <th>DC Received Date</th>
                <th>DC Acknowledgement Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ selectedReverseLogisticDetail?.DC_NUMBER }}</td>
                <td>{{ selectedReverseLogisticDetail?.DC_DATE }}</td>
                <td> {{ selectedReverseLogisticDetail?.CLAIM_TYPE }}</td>
                <td>{{ selectedReverseLogisticDetail?.CUSTOMER_NAME }}</td>
                <td>{{ selectedReverseLogisticDetail?.PLANT_NAME }}</td>
                <td>
                  <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="LR_NO" />
                  </mat-form-field>
                  <mat-error *ngIf="reverseLogisticsItemFormGroup.get('LR_NO').touched &&
                  reverseLogisticsItemFormGroup.get('LR_NO').hasError('required')" class="mat-err-msg">
                    Required
                  </mat-error>
                </td>
                <td>
                  <mat-form-field appearance="outline">
                    <input readonly matInput [matDatepicker]="pickerLrDate" formControlName="LR_DATE"
                      (click)="pickerLrDate.open()" />
                    <mat-datepicker-toggle matSuffix [for]="pickerLrDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerLrDate></mat-datepicker>
                  </mat-form-field>
                  <mat-error *ngIf="reverseLogisticsItemFormGroup.get('LR_DATE').touched &&
                  reverseLogisticsItemFormGroup.get('LR_DATE').hasError('required')" class="mat-err-msg">
                    Required
                  </mat-error>
                </td>
                <td>
                  <mat-form-field class="pl-8 pr-12" appearance="outline">
                    <input matInput readOnly [matDatepicker]="pickerdcReceDate" formControlName="DC_RECEIEVED_DATE"
                      [disabled]="currentUserRole =='Customer'" readonly (click)="pickerdcReceDate.open()" />
                    <mat-datepicker-toggle matSuffix [for]="pickerdcReceDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerdcReceDate></mat-datepicker>
                  </mat-form-field>
                </td>
                <td>{{ selectedReverseLogisticDetail?.DC_ACKNOWLEDGEMENT_DATE }}</td>
                <td>{{selectedReverseLogisticDetail?.STATUS}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div fxFlex class="mr-16">
          <div fxLayoutAlign="start center" class="pt-8 mb-8">
            <span class="orangeBorderBottom h2">
              ITEM DETAILS
            </span>
          </div>
          <div class="example-container table-responsive rpod-detail-table">

            <table class="table" mat-table [dataSource]="dataSource" formArrayName="RPodItemArray">

              <!-- Material Code column -->
              <ng-container matColumnDef="MATERIAL_CODE">
                <th mat-header-cell *matHeaderCellDef>Item Number</th>
                <td mat-cell *matCellDef="let element; let index = index">
                  {{ element.MATERIAL_CODE }}
                </td>
              </ng-container>

              <!-- QUANTITY column -->
              <ng-container matColumnDef="QUANTITY">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element; let index = index">
                  {{element.QUANTITY}}
                </td>
              </ng-container>

              <!-- HAND_OVERED_QUANTITY column -->
              <ng-container matColumnDef="HAND_OVERED_QUANTITY">
                <th mat-header-cell *matHeaderCellDef>Hand Overed Quantity</th>
                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <mat-form-field appearance="outline">
                    <input matInput type="number" #handOveredQty formControlName="HAND_OVERED_QUANTITY"
                      (input)="handOveredQtyValidation($event,element.QUANTITY,index)" />
                  </mat-form-field>
                  <mat-error *ngIf="element.QUANTITY < handOveredQty.value" class="mat-err-msg">
                    Hand overed Qty is higher than the Actual Qty
                  </mat-error>
                  <mat-error *ngIf="handOveredQty.value < 0" class="mat-err-msg">
                    Value can't be negative
                  </mat-error>
                  <mat-error *ngIf="reverseLogisticsItemFormGroup.get('RPodItemArray')['controls'][index]?.get(
                          'HAND_OVERED_QUANTITY'
                      )?.touched &&
                      reverseLogisticsItemFormGroup.get('RPodItemArray')['controls'][index]?.get(
                          'HAND_OVERED_QUANTITY'
                      )?.hasError('required')" class="mat-err-msg">
                    Required
                  </mat-error>
                </td>
              </ng-container>

              <!-- CUSTOMER_PENDING_QUANTITY column -->
              <ng-container matColumnDef="CUSTOMER_PENDING_QUANTITY">
                <th mat-header-cell *matHeaderCellDef>Customer Pending Quantity</th>
                <td mat-cell *matCellDef="let element; let index = index">
                  {{element.CUSTOMER_PENDING_QUANTITY}}
                </td>
              </ng-container>

              <!-- RECEIVED_QUANTITY column -->
              <ng-container matColumnDef="RECEIVED_QUANTITY">
                <th mat-header-cell *matHeaderCellDef>Received Quantity</th>
                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                  <mat-form-field appearance="outline">
                    <input matInput type="number" #receivedQty formControlName="RECEIVED_QUANTITY" (input)="receivedQtyValidation($event,reverseLogisticsItemFormGroup.get('RPodItemArray')['controls'][index]?.get(
                        'HAND_OVERED_QUANTITY'
                    )?.value, index)" />
                  </mat-form-field>
                  <mat-error *ngIf="reverseLogisticsItemFormGroup.get('RPodItemArray')['controls'][index]?.get(
                    'HAND_OVERED_QUANTITY'
                )?.value < receivedQty.value" class="mat-err-msg">
                    Received Qty is higher than the Actual Qty
                  </mat-error>
                  <mat-error *ngIf="reverseLogisticsItemFormGroup.get('RPodItemArray')['controls'][index]?.get(
                          'RECEIVED_QUANTITY'
                      )?.touched &&
                      reverseLogisticsItemFormGroup.get('RPodItemArray')['controls'][index]?.get(
                          'RECEIVED_QUANTITY'
                      )?.hasError('required')" class="mat-err-msg">
                    Required
                  </mat-error>
                  <mat-error *ngIf="receivedQty.value < 0" class="mat-err-msg">
                    Value can't be negative
                  </mat-error>

                </td>
              </ng-container>

              <!-- DC_PENDING_QUANTITY column -->
              <ng-container matColumnDef="DC_PENDING_QUANTITY">
                <th mat-header-cell *matHeaderCellDef>DC Pending Quantity</th>
                <td mat-cell *matCellDef="let element; let index = index">
                  {{element.DC_PENDING_QUANTITY}}
                </td>
              </ng-container>

              <!-- STATUS column -->
              <ng-container matColumnDef="STATUS">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element; let index = index">
                  {{element.STATUS}}
                </td>
              </ng-container>

              <!-- REMARKS column -->
              <ng-container matColumnDef="REMARKS">
                <th mat-header-cell *matHeaderCellDef>Remarks</th>
                <td mat-cell *matCellDef="let elementlet; let index = index" [formGroupName]="index">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="REMARKS" [matAutocomplete]="auto"
                      [disabled]="currentUserRole =='Customer'" /> <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let opt of remarkOptions" [value]="opt">
                        {{ opt }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <!-- {{ element.REMARKS }} -->
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="
                                          let row;
                                          columns: displayedColumns;
                                          let index = index"></tr>
            </table>

          </div>
        </div>
      </form>
    </div>
  </div>
  <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
  </mat-progress-spinner>
  <div id="overlay" *ngIf="isProgressBarVisibile"></div>
</div>